bin/

**/.vscode/
.idea/


./cmake-build-debug/LastTest.log
./cmake-build-debug/build.ninja

cmake-build-*
CMakeFiles/
cmake_install.cmake
CMakeCache.txt

Makefile

example.db


src/server_side/build/*
